
body {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    background-image: url(../assets/img.png);
    margin: 0;
}

main {
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 15%;
}

h1, h2
{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}