@font-face {
    font-family: FonteTitulo;
    src: url(assets/fonts/Beyonders.ttf);
}
body {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    background-image: url(assets/images/front_page_background.jpg);
    background-size: cover;
    margin: 0;
}

main {
    align-items: center;
    text-align: center;
    background-color: #14407A;
    padding: 20px;
    box-shadow: 0 20px 40px black;
    opacity: 0.9;
}

h2#bemvindo{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2
{
    font-weight: bold;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

h1{
    font-family: FonteTitulo;
    font-size: 3em;
    text-shadow: 10px 10px 2px black;
}

a
{
    display: inline-block;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';

}

a:hover
{
    color: #F2DE79;
}