@font-face {
    font-family: FonteWorn;
    src: url(assets/fonts/SubwayNovella-KEw7.ttf);
}


body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100vh;
    background: lightcyan;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
aside {
    width: 100%;
    height: 100%;
}
table {
    height: 40%;
    width: 400px;
    background-color: lightblue;
    border-spacing: 10px;
    
}
td {
    font-family: FonteWorn;
    font-size: 2em;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width: 1px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: black;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.Tabuleiro td {
    border: 5px solid black;
    color: white;
}
#LadoP {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
}
#LadoO {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.Dado {
    display: flex;
    width: 100px;
    height: 100px;
    color: transparent;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    margin: 50px;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.Placar {
    display: flex;
    font-family: FonteWorn;
    text-decoration: wavy;
    font-size: 4.5em;
    width: 200px;
    height: 100px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
}
#placarP
{
    background-image: url(assets/placar/fundoPlacarPlayer.png);
    color:#0E4B58;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
#placarO
{
    background-image: url(assets/placar/fundoPlacarOponent.png);
    color:#DA9341;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.placarIndividual
{
    color: red;
}

