@font-face {
    font-family: FonteWorn;
    src: url(assets/fonts/SubwayNovella-KEw7.ttf);
}
@font-face {
    font-family: FonteTitulo;
    src: url(assets/fonts/Beyonders.ttf);
}


body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100vh;
    background: lightcyan;
    margin: 0;
    background-image: url(assets/images/fundoMain.png);
    background-size: cover;
}
main {
    display: flex;
    grid-column: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
aside {
    width: 100%;
    height: 100%;
}
table {
    height: 40%;
    width: 400px;
    background-color: rgb(47, 48, 48);
    border-radius: 8%;
    border-spacing: 10px;
    box-shadow: 2px 2px 2px black;
    
}
td {
    font-family: FonteWorn;
    font-size: 2em;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width: 1px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.Tabuleiro td {
    color: #DA9341;
    background-color: #0E4B58;
    font-size: 2.7em;
    text-shadow: 1px 1px 1px black;
}

#LadoP {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#LadoO {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    grid-column: 5;
}
.Dado {
    display: flex;
    width: 100px;
    height: 100px;
    color: transparent;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    margin: 50px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: 2px 2px 2px 2px black;
}
#dadoO
{
    background-image: url(assets/dadoOponent/dadoVazio.png);
}
.Placar {
    display: flex;
    font-family: FonteWorn;
    text-decoration: wavy;
    font-size: 4.5em;
    width: 200px;
    height: 100px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
}
#placarP
{
    background-image: url(assets/images/placar/fundoPlacarPlayer.png);
    color:#0E4B58;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    grid-row: 3;
}
#placarO
{
    background-image: url(assets/images/placar/fundoPlacarOponent.png);
    color:#DA9341;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;

}
.placarIndividual
{
    color: white;
    font-size: 1.5em;
}
#pIndividualP
{
    background-color: transparent;
    text-shadow: 2px 2px 2px black;
}

#inimigo
{
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url(assets/images/inimigo.jpeg);
    border: #0E4B58 5px solid;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#inimigoLeg
{
    font-size: xx-small;
    font-family: FonteTitulo;
    color: white;
    background-color: #0E4B58;
    padding: 5px;
}

#player
{
    display: flex;
    grid-column: 1;
    width: 200px;
    height: 200px;
    background-image: url(assets/images/player.jpeg);
    border: #DA9341 5px solid;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#playerLeg
{
    font-size: xx-small;
    font-family: FonteTitulo;
    color: white;
    background-color: #DA9341;
    padding: 5px;
}

.reiniciar
{
    text-decoration: none;
    font-family: FonteTitulo;
    font-size: xx-small;
    background-color: #0E4B58;
    padding: 5px;
    border-radius: 20%;
    color: #DA9341;
    box-shadow: 2px 2px 2px black;
}

#Player .Tabuleiro p:hover
{
    background-color: #DA9341;
    color: #0E4B58;
    text-shadow: 1px 1px 1px black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.fim {
    display: none;
    width: 576px;
    height: 324px;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: #0E4B58;
    padding: 5px;
    border: rgb(47, 48, 48) 5px solid;
    border-radius: 10%;
    grid-column: 53;
    z-index: 0;
}

.fim h1
{
    font-family: FonteTitulo;
    font-size: 2em;
    color: #DA9341;
    text-shadow: 1px 1px 1px black;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.fim h2
{
    padding-left: 10%;
    padding-right: 10%;
    color: #f5dba5;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
}

.fim h2:nth-of-type(2)
{
    color: rgb(214, 121, 22);
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
}

.fim .reiniciar
{
    box-shadow: none;
}

.fim .reiniciar:hover
{
    box-shadow: none;
    color: #f5dba5;
}

#aviso {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 80%;
}
#aviso:hover {
    color: red;
}