body
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url(assets/images/fundoVitoria.jpeg);
    background-size: cover;
}

main
{
    display: flex;
    flex-direction: column;
    background-color: #628291;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-column: 4;
    border-radius: 5%;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
}

h1
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: #ffffe3;
    font-size: 1.5em;
}
a:hover
{
    color: #5b5018;
}
p
{
    align-items: baseline;
}